<h1>Cadastro de Cliente</h1>
<form>
  <table>
    <tr>
      <td><label for="cad-cod">Codigo</label></td>
      <td><input type="text" name="cad-cod"></td>
    </tr>
    <tr>
      <td><label for="cad-nom">Nome</label></td>
      <td><input type="text" name="cad-nom"></td>
    </tr>
    <tr>
      <td><label for="cad-nfa">Nome_Fantasia</label></td>
      <td><input type="text" name="cad-nfa"></td>
    </tr>
    <tr>
      <td><label for="cad-cep">CEP</label></td>
      <td><input type="text" name="cad-cep"></td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit">Buscar Endereço Pelo CEP</button></td>
    </tr>
    <tr>
      <td><label for="cad-end">Endereço</label></td>
      <td><input type="text" name="cad-end"></td>
    </tr>
    <tr>
      <td><label for="cad-bai">Bairro</label></td>
      <td><input type="text" name="cad-bai"></td>
    </tr>
    <tr>
      <td><label for="cad-loc">Localidade</label></td>
      <td><input type="text" name="cad-loc"></td>
    </tr>
    <tr>
      <td><label for="cad-uf">Uf</label></td>
      <td><input type="text" name="cad-uf"></td>
    </tr>
    <tr>
      <td><label for="cad-dat">Data</label></td>
      <input type="text" name="cad-dat">
    </tr>
    <tr>
      <td><label for="cad-cnp">CNPJ</label></td>
      <td><input type="text" id="cad-cnp"></td>
    </tr>
    <tr>
      <td><label for="cad-log">Logradouro</label></td>
      <td><input type="text" id="cad-log"></td>
    </tr>
  </table>
  <button type="submit">Cadastrar!</button>
</form>












